{% extends 'index.twig' %}

{% block body %}
   <div align="center">

   <h1>Les images sont en train de télécharger. Veuillez patienter s'il vous plait.</h1>

   {% if test %}
  <p> {{ test }} </p>
{% endif %}

   </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
